@media (max-width: 1800px){
    .submit-icon::after{
        left: 30%;
    }
}
@media (max-width: 1600px){
    .popup-content input[type="text"], .popup-content input[type="email"], .popup-content select{
        font-size: 14px;
    }
    .popup-content label{
        font-size: 14px;
    }
    .mc-field-group {
        height: 59px;
    }
    .footer-newslatter{
        display: flex;

    }
    .footer-newslatter input{
        width: 100%;
        height: 45px;
    }
    .footer-newslatter input#mc-embedded-subscribe {
        width: 100%;
        height: 45px;
    
    }
    .submit-icon::after{
        left: 33%;
        top: 61%;
    }
    .webinar-hero{
        background-position: right center!important;
    }
   .close-popup {
        position: absolute;
        top: -3%;
        right: 9.5%;
        background: none;
        border: none;
        font-size: 40px;
        color: #fff;
        cursor: pointer;
    }
    .logo img{
        width: 300px;
    }
    .webinar-hero h4{
        font-size: 20px;
        margin: 0;
        padding: 3px 10px 2px;
        margin-bottom: 20px;
        margin-top: 100px;
    }
    .webinar-hero h2{
        font-size: 46px;
    }
    .webinar-hero h1 {
        font-size: 48px;
        font-weight: 500;

    }
    .webinar-hero p {
        margin-top: 10px;
        font-size: 16px;
        
    }

    .gobal-webinar-btn a img{
        width: 16px;
    }
    .gobal-webinar-btn button{
        font-size: 18px;
    }
    .share-webnar p{
        font-size: 16px;
    }
    .share-icon ul{
        margin-top: -5px;
    }
    .third-title{
        font-size: 20px;
    }
    .second-pra{
        font-size: 16px;
        line-height: 24px;
    }
    .fourth-heading{
        font-size: 16px;
    }
    h3.fourth-heading {
        font-size: 20px;
    }
    .perona h4 {
        margin-bottom: 6px;
    }
    .footer-left p{
        font-size: 16px;
    }
    .footer-icon ul li img{
        width: auto;
    }
    .gobal-webinar-btn a {
        font-size: 16px;
        padding: 18px 30px;
    }
    .gobal-webinar-btn button {
        font-size: 16px;
        padding: 20px 35px;
    }
    .gobal-webinar-btn button img{
        width: 16px;
    }
    .whitepaper-left ul li {
        margin-bottom: 28px;
    }
    .footer-left {
        width: 28%;
    }
    .footer-left input[type="submit"] {
        font-size: 16px;
        padding: 9px 10px;
    }
    .logo-footer img {
        width: 100px;
    }
    .ploicy-list ul li a {
        font-size: 16px;
    }
    .footer-right p{
        font-size: 16px;
    }
    .webinar-agenda {
        margin: 60px 0;
    }
    .who-watch ul li {
        list-style: disc;
        margin-bottom: 2px;
    }
    .about-webinar{
        padding: 60px 0;
    }
    .webn-right button {
        margin-top: 0px;
    }

}
@media (max-width: 1420px){
    .speakers-container{
        width: 90%;
    }
    .about-speakers {
        width: 85%;
    }
}
@media (max-width: 1400px){
    .video-container iframe{
        width: 80%;
        height: 63vh;
        border-radius: 5px;
    }
    .close-popup {
      
        top: -4%;
        right: 9.5%;

    }
    .submit-icon::after{
        left: 30%;
        top: 61%;
    }
}
@media (max-width: 1251px){
    .footer-left{
        width: 45%;
    }
    .footer-right{
        width: 45%;
    }
    .webinar-hero h2 {
        font-size: 38px;
    }
    .webinar-hero h1 {
        font-size: 40px;
        font-weight: 500;
    }
    .footer-right p{
        font-size: 16px;
    }
    .video-container iframe{
        width: 80%;
        height: 55vh;
        border-radius: 5px;
    }
}
@media (max-width: 1050px){
 
    .close-popup {
        top: -4%;
        right: 4.5%;

    }
    .webinar-hero {
        background: url(../images/webinar-ipad.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center right !important;
    }
    .webinar-hero {
        height: 489px;
    }
    .about-speakers {
        width: 100%!important;
        margin-top: 50px;
    }
   
    .footer-right {
        text-align: right;
    }

    .footer-phone{
        width: 100%;
        margin-top: 35px;
    }
    .phone-fillow{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-icon ul li{
        margin-left: 0; 
        margin-right: 10px;
        
    }
    
    .speakers-container {
        width: 85%;
        justify-content: space-between;
        display: flex
;
    }
    .webinar-hero h4{
        font-size: 18px;
    }
    .webinar-hero h2 {
        font-size: 32px;
    }
    .webinar-hero h1 {
        font-size: 35px;
        
    }
    
    .logo img {
        width: 210px;
    }
    
    .webn-left{
        width: 55%;
        margin-bottom: 30px;
    }
    .webn-right{
        width: 40%;
    }

    .video-container iframe{
        width: 90%;
        height: 65vh;
        border-radius: 5px;
    }
    .main {
        width: 90%;
        margin: 0px auto;
    }
    .whitepaper-left {
        width: 50%;
    }
    .white-papper-img {
        width: 30%;
        text-align: center;
        margin: 0 auto;
    }
    .whitepaper-left ul li {
        margin-bottom: 20px;
    }
    .white-footer-left {
        width: 100%;
    }
    .white-footer-right {
        width: 100%;
    }
    .white-footer{
        flex-direction: row-reverse;
    }
    .white-footer-left{
        text-align: right;
    }
    .submit-icon::after {
        left: 30%;
        top: 56%;
    }
    .about-web-container {
        align-items: end;
    }
}

@media (max-width: 972px){
    .webinar-hero {
        /* background-position-y: -110px !important; */
        background-position-x: 71% !important;
    }
    .ploicy-list ul li {
        margin-left: 7px;
        position: relative;
    }

    .persona-img img {
        width: 56%;
        margin: 0 auto;
    }

    .footer-right {
        width: 63%;
    }
    .trem {
        font-size: 12px;
    }
    .webn-right {
        width: 50%;
    }
    .ploicy-list ul li::after {
        right: -5px;
    }
    .second-pra {
        font-size: 16px;
        line-height: 23px;
    }

}
@media (max-width: 850px){
    .speakers-container {
        width: 95%;
    }
}
@media (max-width: 680px){
    .perona {
        width: 48.5%;
        padding: 20px 10px;

        margin-bottom: 15px;
    }
    .second-pra {
        font-size: 14px;
        line-height: 21px;
    }
    .footer-left form{
        justify-content: center;
    }
    .webinar-hero {
       
        background: url(../images/webainer-phone-hero.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding: 100px 0 50px;
        height: auto!important;
        background-position: right !important;
    }
    .webinar-hero {
        background-position-x: 82% !important;
    }
    .close-popup {
        position: absolute;
        top: -6%;
        right: -1%;
        background: none;
        
    }
    .footer-right.for-desktop {
    display: none;
    }
    .footer-phone {
        width: 100%;
        margin-top: 35px;
    }
    .for-dektop{
        display: none;
    }
    #popupForm .submit-icon::after {
        left: 25%;
        top: 30%;
    }
    .for-phone{
        display: block;
    }
    .share-webnar{
        display: flex;
    }
    .about-web-container{
        flex-direction: column;
    }
    .webn-left{
        width: 100%;
    }
    .webn-right{
        width: 100%;
    }
    .logo img {
        top: 7%;
        width: 210px;
    }
   
    .webinar-hero h4{
        margin-top: 20px;
    }
    .gobal-webinar-btn a {
        font-size: 16px;
        padding: 13px 16px 12px;
    }
    .whitepaper-container{
        flex-direction: column;
    }
    .whitepaper-left{
        width: 96%;
        margin: 0 auto;
    }
    .gobal-webinar-btn button {
        font-size: 16px;
        padding: 15px 22px;
    }
    .whitepaper-left h3{
        text-align: center;
    }
    .whitepaper-left p{
        text-align: center;
    }
    .header{
        text-align: center;
    }
    .share-webnar {
        text-align: center;
    }
    .share-icon{
        justify-content: center;
    }


    .about-speakers{
        width: 100%;
        text-align: center;
    }

    .webinar-agenda{
        text-align: center;
    }
    .who-watch {
        text-align: center;
    }
    .who-watch ul li {
        list-style: disc;
        margin-bottom: 10px;
    }
    .footer-left{
        text-align: center;
    }
    .center-lsit {
        display: flex;
        justify-content: center;
    }
    
    .about-webinar .second-pra {
        text-align: left;
       
    }
    .perona .second-pra {
        text-align: center;
        padding: 0;
    }
    .persona-img img {
        width: 64%;
        margin: 0 auto;
    }
    .video-container iframe{
        width: 100%;
        height: 40vh;
        border-radius: 5px;
    }
    .white-papper-img{
        width: 60%;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left {
        width: 100%;
        text-align: center;
       
    }
    .footer-left input[type="submit"] {
        font-size: 14px;
        border-radius: 0;
        padding: 9px 10px;
    }
    .footer-left input{
        font-size: 14px;
        border-radius: 0;
    }
    .footer-left input::placeholder{
        font-size: 14px;
    }
    .ploicy-list ul{
        margin-top: 30px;
        justify-content: center;
    }
    .footer-icon p{
        margin-bottom: 10px;
    }

    .share-webnar.for-phone{
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .gobal-webinar-btn{
        margin-top: 0;
    }
}
@media (max-width: 680px){
    .for-dektop{
        display: none;
    }
    .main {
        width: 95%;
        margin: 0px auto;
    }
    .for-phone{
        display: block;
    }
    .webinar-hero h4 {
        font-size: 16px;
        padding: 2px 5px 1px;
        margin-bottom: 15px;
    }
    .webinar-hero h2 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .webinar-hero h1 {
       
        font-size: 23px;
        margin-bottom: 35px;
    }

    .speakers-container{
        width: 100%!important;
    }
    

    .agenda-bg h4{
       text-align: left;
    }
    .speakers-container{
        flex-wrap: wrap;
    }
    
    .about-webinar{
        padding: 50px 0;
    }
    .webinar-agenda{
        margin: 50px 0;
    }
    .ploicy-list ul li{
        font-size: 14px;
        margin: 0 5px;
    }
    .popup-content h3{
        font-size: 20px;
    }
    .popup-content{
        padding: 30px 20px;
    }
    .white-papper-img{
        width: 70%;
    }
    h3.fourth-heading {
        font-size: 16px;
    }
    .footer-left p {
        font-size: 14px;
    }
    .popup-content input[type="text"], .popup-content input[type="email"], .popup-content select {
        margin-bottom: 0px;
    }
}
@media (max-width: 474px){
    .video-container iframe{
        width: 100%;
        height: 40vh;
        border-radius: 5px;
    }
    .share-popup{
        width: 95%;
    }
    .white-papper-img{
        width: 80%;
    }
    .ploicy-list ul li a {
        font-size: 12px;
    }
}
@media (max-width: 382px){
    
    .video-container iframe{
        width: 100%;
        height: 35vh;
        border-radius: 5px;
    }
    .white-papper-img{
        width: 90%;
    }
}